.Categories {
  .container {
    .header {
      display: flex;
      margin-top: 10px;
      .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
      .sort-by {
        flex: 1;
        display: flex;
        justify-content: end;

        .sort-by-container {
          display: flex;
          flex-direction: column;

          gap: 8px;

          .select-sort-by {
            padding: 8px 12px;
            border: 1px solid rgba($color: #000000, $alpha: 0.1);
          }
        }
      }
    }
    .content {
      margin-top: 40px;
      display: flex;
      gap: 20px;

      .filter-box {
        flex: 1;
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
        padding: 12px;
        height: fit-content;
        min-width: 160px;

        h3 {
          margin-block: 8px;
        }

        .filter-radio {
          margin-block: 8px;

          input {
            accent-color: var(--accent-color);
            margin-right: 8px;
            cursor: pointer;
          }
          label {
            color: var(--secondary-text-color);
            cursor: pointer;
          }
        }
      }
      .product-box {
        flex: 4;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .Categories {
    .header {
      flex-direction: column;
      gap: 20px;

      .sort-by {
        justify-content: start !important;
      }
    }
    .content {
      flex-direction: column;
      gap: 20px;
    }
  }
}
